<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            FitNova app
        {% endblock %}
    </title>
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <div class="top-panel">
      <div class="top-links">
        {% if user.is_authenticated %}
          <span>Welcome, {{ user.username }}!</span>
          <a href="{% url 'accounts:settings' %}">Settings</a>
          <a href="{% url 'accounts:logout' %}">Logout</a>
       
        {% else %}
          <a href="{% url 'accounts:login' %}">Login</a>
          <a href="{% url 'accounts:register' %}">Register</a>
        {% endif %}
      </div>
    </div>

  
    <div class="main-header">
      <h1 class="site-name">FitNova</h1>
      <nav class="nav-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'membership_dashboard' %}">Membership</a></li>
          <li><a href="{% url 'tracker:dashboard' %}">Body Tracker</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  
  <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>